<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
 
</head>
<body>
    <h2 style="font-family: cursive;">Login</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="username"style="padding:15px;font-family: cursive;">Username:</label>
        <input type="text" name="username" required><br><br>
        
        <label for="password"style="padding:17px;font-family: cursive;">Password:</label>
        <input type="password" name="password" required><br><br>

        <button type="submit"style="padding:5px;font-family: cursive;">Login</button>
    </form>
    <br>
    <a href="{% url 'register' %}"style="font-family: cursive;">Don't have an account? Register here</a>
</body>
